.cards-list {
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    min-width: 50px;
    margin: 10px 15px;
    cursor: pointer;
  }
  .selected .card {
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px #428bca;
  }
}